.header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 48vw;
    height: 7vh;
}

.mobile-menu-btn {
    display: block;
}

@media screen and (min-width: 768px) {
    .mobile-menu-btn {
        display: none;
    }
}